[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/EOSIO/chainbase.git
        ignore = dirty
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/EOSIO/appbase.git
        ignore = dirty
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/eosio/berkeley-softfloat-3
[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/EOSIO/fc.git
[submodule "libraries/wabt"]
	path = libraries/wabt
	url = https://github.com/EOSIO/wabt.git
[submodule "libraries/yubihsm"]
	path = libraries/yubihsm
	url = https://github.com/Yubico/yubihsm-shell
[submodule "libraries/berkeley-softfloat-3"]
	path = libraries/berkeley-softfloat-3
	url = https://github.com/EOSIO/berkeley-softfloat-3.git
[submodule "libraries/yubihsm-shell"]
	path = libraries/yubihsm-shell
	url = https://github.com/Yubico/yubihsm-shell.git
